body {
    background-image: url('../images/question.gif');    
    font-family: 'Anton', sans-serif;
    color: black;
    letter-spacing: 2px;
}

img{
    width: 450px;
    height: auto;
    margin-left: -20px;
    overflow: hidden;
}

#startScreen {
    background-color: #c6efc9;        
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
}

.start {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
    margin-top: 40%;
    border-style: ridge;
    border-width: 15px;
    border-color: rgb(3, 138, 10);
}

.wrongBox {
    margin: 0 auto;
    text-align: center;
    padding: 2%;    
}

#answerScreen {
    display: none;
    background-color: #c6efc9;        
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    text-align: center;
    font-size: 21px;
    border-style: ridge;
    border-width: 15px;
    border-color: rgb(3, 138, 10);
}

#timesUp {
    display: none;
    background-color: #c6efc9;         
    width: 35%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
    border-style: ridge;
    border-width: 15px;
    border-color: rgb(3, 138, 10);
}

.up {
    color: #000;
    font-style: italic;
    text-align: center;
}

.timeRemain {
    padding: 2%;
    color: #000;
}

#timeRemain {
    font-size: 60px;
}

.container {
    background-color: #c6efc9;     
    height: 100%;
    text-align: center;
    display: none;
    margin-bottom: 5%;
    padding-bottom: 2%;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.questions {
    font-size: 25px;    
}

label {
    color: #06a812;
}

.ques,
label {
    padding: 10px;
}

header {
    font-size: 60px;
    color: rgb(10, 136, 88);
    margin-top: 2%;
}

.buttonSubmit{    
    background-color: #4CAF50;
    border-radius: 40%;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px;
    width: 70px;
    text-align: center;        
    text-decoration: none;      
}

.buttonSubmit:hover{
    background-color: #075906;
}

.buttonSubmit:active {
    background-color: #075906;
    box-shadow: 0 5px rgb(12, 204, 115);
    transform: translateY(4px);   
    outline: none;
  }
